[Unit]
Description=healthz node applicaiton Application
After=cloud-init.service
Wants=cloud-init.service

[Service]
Type=simple
User=admin
ExecStart=/usr/bin/node /home/admin/webapp-main/server.js
WorkingDirectory=/home/admin/webapp-main
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target